# 1. 忽略所有文件和文件夹
*

# 2. 允许进入需要的目录路径
!My project (2)/
!My project (2)/Assets/
!My project (2)/Assets/_Scipts/
!My project (2)/Assets/_Scipts/**/

# 3. 允许上传 _Scipts 目录下的所有 C# 脚本及其 .meta 文件
!My project (2)/Assets/_Scipts/**/*.cs
!My project (2)/Assets/_Scipts/**/*.cs.meta
!My project (2)/Assets/_Scipts.meta

# 4. 保留 .gitignore 本身
!.gitignore
